<header>
  <a href="/" id="logo">ASK4Snow</a>
  <nav>
    <ul>
      <li>
        <a href="/messages">Messages</a>
      </li>
      <li>
        <a href="/share">Share</a>
      </li>
    </ul>
  </nav>
</header>
