<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/nav')%>
    <main>
      <div class="container text-center py-5 bg-body-secondary rounded mb-5">
        <h1>Thank you!</h1>
        <p>Your message was successfully added to our list!</p>
      </div>
    </main>
  </body>
</html>
