<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    <%- include('includes/nav')%>
    <main>
      <section id="confirm">
        <h1>Thank you!</h1>
        <p>Your message was successfully added to our list!</p>
      </section>
    </main>
  </body>
</html>
