<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    
<%- include('includes/nav')%>
    <main>
     
   
      <section class="container bg-light mb-5">
        <div class="row p-0">
          <div class="col p-0">
            <img
           style="width: 20rem; height: 100%;"
            src="images/pexels-photo-1635086.webp"
            alt=""
            id="snowboard"
            class="object-fit-sm-contain"
          />
          </div>
          

          <div class="col p-5">
            <h2>New Collection</h2>
            <p>
              Head into the backcountry with an outerwear kit that can keep up
              with unpredictable terrain and extreme weather.
            </p>
            <a class="btn btn-primary"
              href="#"
              >Shop</a
            >
          </div>
        </div>
 </section>

 <!---------------------------------------------------------------->

        <section class="container bg-light mb-5">

<div class="row p-0">
  <div class="col p-0">
 
          <img
          class="object-fit-sm-contain"
          style="width: 20rem; height: 100%;"
            src="images/pexels-photo-7166114.webp"
            alt=""
            id="gift"
          />
  </div>
  <div class="col p-5">
    <h2>Gift Guide</h2>
            <p>Don't know what to buy?</p>
            <p>
              We have you covered with a handy gift guide for women, men, and
              kids. Have a look!
            </p>

            <a class="btn btn-primary"
              href="#"
              >Shop</a
            >
    </div>
         </div>
        </section>

       

       

          
      
      <!------------------------------------------------------------------------------------>
      <section
      id="journal"
      class="container text-center py-5 bg-body-secondary mb-5">
      <h2>Thank you for..</h2>
      <p>
        Write a note sharing how snowboarding changed your life!
      </p>
      <a class="btn btn-primary"
        href="/share"
        >Share your message</a
      >
    </section>

    <!------------------------------------------------------------------------------>
    <section class="container bg-light mb-5">
        <div class="row p-0">
          <div class="col-4 p-2 border border-light">
<img src="images/pexels-photo-2448970.webp" alt=""  class="object-fit-sm-contain update" style="height: 20rem;" />
          <p>
            Don't miss our updates..to learn a new skill or how to maintain your
          gear!
          </p>
          </div>
          <div class="col-4 p-2 border border-light">
<img src="images/pexels-photo-2448970.webp" alt=""  class="object-fit-sm-contain update" style="height: 20rem;" />
          <p>
            Don't miss our updates..to learn a new skill or how to maintain your
          gear!
          </p>
          </div>
          <div class="col-4 p-2 border border-light">
            <img src="images/pexels-photo-2448970.webp" alt=""  class="object-fit-sm-contain update" style="height: 20rem;" />
                      <p>
                        Don't miss our updates..to learn a new skill or how to maintain your
                      gear!
                      </p>
          </div>
          
        </div>
      
        
     </section>
      
   
     
      
  </body>
</html>
