<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    
<%- include('includes/nav')%>
    <main>
     
   
      <section class="container bg-light mb-5">
        <div class="row p-0">
          <div class="col p-0">
            <img
           style="width: 20rem; height: 100%;"
            src="images/pexels-photo-1635086.webp"
            alt=""
            id="snowboard"
            class="object-fit-sm-contain"
          />
          </div>
          

          <div class="col p-5">
            <h2>New Collection</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt voluptate consequatur veniam optio voluptatum alias error, ullam debitis mollitia voluptas!
            </p>            
          </div>
        </div>
 </section>

 <!---------------------------------------------------------------->

        <section class="container bg-light mb-5">

<div class="row p-0">
  <div class="col p-0">
 
          <img
          class="object-fit-sm-contain"
          style="width: 20rem; height: 100%;"
            src="images/pexels-photo-7166114.webp"
            alt=""
            id="gift"
          />
  </div>
  <div class="col p-5">
    <h2>Gift Guide</h2>
            <p>Don't know what to buy?</p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, sunt.
            </p>
          
    </div>
         </div>
        </section>

       

       

          
      
      <!------------------------------------------------------------------------------------>
      <section
      id="journal"
      class="container text-center p-5 bg-body-secondary mb-5">
      <h2>Thank you for..</h2>
      <p>
        Write a note sharing how snowboarding has changed your life!
      </p>
      <a class="btn btn-primary"
        href="/share"
        >Share your message</a
      >
    </section>

    <!------------------------------------------------------------------------------>
    <section class="container text-center bg-light mb-5">
      <h2>Blog Posts</h2>
        <div class="row p-0">
          <div class="col-4 p-2 border border-light">
<img src="images/pexels-photo-2448970.webp" alt=""  class="object-fit-sm-contain update" style="height: 20rem;" />
          <p>
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic aspernatur est corrupti suscipit.
          </p>
          </div>
          <div class="col-4 p-2 border border-light">
<img src="images/pexels-photo-2448970.webp" alt=""  class="object-fit-sm-contain update" style="height: 20rem;" />
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic aspernatur est corrupti suscipit.
          </p>
          </div>
          <div class="col-4 p-2 border border-light">
            <img src="images/pexels-photo-2448970.webp" alt=""  class="object-fit-sm-contain update" style="height: 20rem;" />
                      <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt hic aspernatur est corrupti suscipit.
                      </p>
          </div>
          
        </div>
      
        
     </section>
      
   
     
      
  </body>
</html>
