<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head')%>
  </head>
  <body>
    
<%- include('includes/nav')%>
    <main>

      <section id="latest-news">
        <ul>
          <li class="news-item">
            <article>
              <img
                src="images/image2.png"
                alt="Mountain snow"
                id="snowboard"
              />
              <div class="news-item-content">
                <h2>New Collection</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi, dolorum?</p>
              </div>
            </article>
          </li>
          <li class="news-item">
            <article>
              <img
                src="images/image1.png"
                alt="Female snowboarder smiling"
                id="gift"
              />
              <div class="news-item-content">
                <h2>Gift Guide</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, corporis!</p>
              </div>
            </article>
          </li>
        </ul>
      </section>
     
      

          
      
      <!------------------------------------------------------------------------------------>
      <section id="journal">
        <div class="journal-item">
          <h2>Thank you for..</h2>
      <p>
        Write a note sharing how snowboarding has changed your life!
      </p>
      <a href="/share" class="btn">Share your message</a>
        </div>
      
         
    </section>

    <!------------------------------------------------------------------------------>
    
    <section id="blog">
      <h2>Highlights</h2>
      <ul id="blog-posts">
        <li class="blog-item">
          <img src="images/image1.png" alt="Mountain snow" class="update" />
          <p>Lorem ipsum dolor.</p>
        </li>
        <li class="blog-item">
          <img src="images/image1.png" alt="Mountain snow" class="update" />
          <p>Lorem ipsum dolor</p>
        </li>
        <li class="blog-item">
          <img src="images/image1.png" alt="Mountain snow"class="update" />
          <p>Lorem ipsum dolor</p>
        </li>
      </ul>
    </section>
   
     
      
  </body>
</html>
